
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}

.label{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 50px;
  font-weight: bold;
}

nav .navul{
  float: right;
  margin-right: 20px;
}

nav .navul .navitems{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav .navul .navitems .navlink{
  color: white;
  font-size: 17px;
  padding: 9px;
  border-radius: 3px;
}

a.navlink, a:hover{
  background: #1b9bff;
  transition: .5s;
}

#monkeypic{
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  border: 10px groove gray;
  border-radius: 50%;
  background-color: black;
}

#topsmallerh1{
  text-align: center;
  margin-top: 25px;
  color: white;
  font-size: 35px;
}

#largerh1{
  text-align: center;
  text-decoration: underline;
  font-size: 75px;
  color: white;
}

#lowersmallerh1{
  text-align: center;
  color: white;
  font-size: 35px;
}

#homebody{
  background-image: url(triangles.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}