
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}

.label{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 50px;
  font-weight: bold;
}

nav .navul{
   float: right;
   margin-right: 20px;
}

nav .navul .navitems{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav .navul .navitems .navlink{
  color: white;
  font-size: 17px;
  padding: 9px;
  border-radius: 3px;
}

a:hover{
  animation-name: changecolor !important;
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  color: #fff;
}

@keyframes changecolor{
  0%{
    background-color: #0082e6;
  }
  25%{
    background-color: #055D57;
  }
  50%{
    background-color: darkred;
  }
  75%{
    background-color: blueviolet;
  }
  100%{
    background-color: chartreuse;
  }
}


#monkeypic{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  float: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px;
  border: 6px groove gray;
  border-radius: 50%;
  background-color: black;
}

#topsmallerh1{
  text-align: center;
  margin-top: 25px;
  color: white;
  font-size: 35px;
}

#largerh1{
  text-align: center;
  text-decoration: underline;
  font-size: 75px;
  color: white;
  margin-bottom: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif; 
}

#lowersmallerh1{
  text-align: center;
  color: white;
  font-size: 35px;
}

#homebody{
  background-image: url(triangles.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

  
#aboutmeh1{
  text-decoration: underline;
  text-align: center;
  font-style: oblique;
}


img{
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px;
}


.aboutsection{
  border-top: solid 2px;
  border-top-color: black;
  display: inline-block;
  margin-top: 25px;
}


#portfolioh1{
  text-decoration: underline;
  text-align: center;
  font-style: oblique;
}

.portsection{
  border-top: solid 1px;
  border-top-color: black;
  display: flex;
  flex-direction: column;
}

.porth2{
  text-align: center;
}



#gitlink{
  font-size: 40px;
  margin-left: 585px;
  margin-bottom: 500px;
  color: white;
}

#linkedinlink{
  font-size: 40px;
  color: white;
}

p:hover{
  color: 	#055D57;
}



footer{
  height: 75px;
  width: 100%;
  background: rgb(49, 47, 47);
  margin-top: 110px;
}

#homefooter{
  margin-top: 150px;
}

@media(max-width: 400px){
  body{
    color: blueviolet;
  }
}

  

